html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;

    text-decoration: none;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-size: 16px;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
ul,
li,
a {
    color: darkslateblue;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background-color: darkslateblue;
    display: flex;
    justify-content: center;
}
h4 {
    font-size: 24px;
    margin: 40px auto;
}
.container {
    width: 980px;
    height: auto;
    margin-top: 20px;
    zdisplay: flex;
    zjustify-content: center;
    background-color: whitesmoke;
    border-radius: 6px;
}
.search_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search_results {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.search {
    width: 480px;
    height: 40px;
    border-radius: 6px;
    border: 1px solid darkslateblue;
    color: darkslateblue;
    padding: 20px;
}
header {
    zbackground-color: whitesmoke;
    width: 100%;
    height: 100px;
}
nav {
    display: flex;
    justify-content: space-between;
}
nav > a {
    margin: 40px 60px;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    box-sizing: border-box;
}
.post {
    display: flex;
    justify-content: space-between;
}
.post_title {
    font-size: 20px;
}
footer {
    display: flex;
    justify-content: center;
    padding: 20px;
}
