<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{{ page.title }} | {{ site.title }}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Your CSS -->
        <link rel="stylesheet" href="/assets/css/style.css" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/assets/css/style.css" />
    </head>
    <body>
        <div class="container">
            <header>
                <nav>
                    <a href="/" class="link"
                        >{{ site.title}}<span class="link-red">DEV</span></a
                    >
                    <ul>
                        <li><a href="#" class="l">BLOG</a></li>
                        <li>
                            <a href="mailto:{{ site.email }}" class="l link-red"
                                >CONTACT</a
                            >
                        </li>
                    </ul>
                </nav>
            </header>
            <!-- 🔍 SEARCH BOX -->
            <div class="search_container">
                <input
                    type="search"
                    id="search-input"
                    placeholder="Search posts..."
                    autocomplete="off"
                    class="search"
                />

                <ul id="search-results" class="search_results"></ul>
            </div>
            <main>{{ content }}</main>

            <footer class="footer">
                <a href="{{ page.url }}">{{ site.title }} © 2026</a>
            </footer>

            <!-- Lunr -->
            <script src="https://unpkg.com/lunr/lunr.js"></script>

            <!-- Your search logic -->
            <script src="/assets/js/search.js" defer></script>
        </div>
    </body>
</html>
